*{
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html{
  box-sizing: border-box;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.icons{
  color:white;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
  
}
.icons:hover{
  color:rgb(179, 175, 175)
}
.icon{
  background-color: black;
  width: 100%;
  padding: 1px 3px 6px 3px;
  
  
}

h3{
  font-size: 20px;
}
.imagen-producto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;

}
.menu{
  background-color: rgb(175, 144, 94);
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.mininav{
  background-color: #7e6551;
}
.itemProducto{
  list-style: none;
}
.img-detalle{
  width: 400px;
}
.cart-icon{
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.cart-number{
  margin-left: 2px;
  color: gold;
  
}
.detalle-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.detalles{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cargando{
  text-align: center;
}